/* ========================================================================== */
/* remove elementos nao usados no mosaico */
/* ========================================================================== */

body#page-course-view-mosaic:not(.editing) #collapsesections,
body#page-course-view-mosaic:not(.editing) #page-footer,
body#page-course-view-mosaic:not(.editing) #maincontent,
body#page-course-view-mosaic:not(.editing) #page-header,
body#page-course-view-mosaic:not(.editing) .drawer.drawer-left,
body#page-course-view-mosaic:not(.editing) .course-section-header .icon,
body#page-course-view-mosaic:not(.editing) .drawer-toggles .drawer-left-toggle,
body#page-course-view-mosaic:not(.editing) .icons-collapse-expand,
body#page-course-view-mosaic:not(.editing) .section-summary-activities,
body#page-course-view-mosaic:not(.editing) .modal-backdrop.show,
body#page-course-view-mosaic:not(.editing) .secondary-navigation,
body#page-course-view-mosaic:not(.editing) .section_availability,
body#page-course-view-mosaic:not(.editing) .activityiconcontainer.courseicon,
body#page-course-view-mosaic:not(.editing) [data-region='completion-info'],
body#page-course-view-mosaic:not(.editing)
    .activity-item
    .activitytitle
    .media-body
    .text-uppercase.small {
    display: none !important;
}

/* ========================================================================== */
/* esconde pagina inteira até terminar o carregamento */
/* ========================================================================== */

body#page-course-view-mosaic:not(.editing) #page-content {
    display: none;
}

/* ========================================================================== */
/* formato de curso mosaico */
/* ========================================================================== */

body#page-course-view-mosaic:not(.editing)
    #page.drawers
    #topofscroll
    #page-content.main-inner
    #region-main {
    padding: 0 !important;
}

body:not(.editing) .course-content ul.mosaic {
    margin: 0;
    min-height: calc(100vh - 46px);
    padding: 0;
    position: relative;
    width: 100vw;
}

body:not(.editing) .course-content .single-section {
    margin: 0;
}

/* ========================================================================== */
/* contador de porcentagem */
/* ========================================================================== */

.available_percent {
    display: block;
    font-size: 12px;
    font-weight: bold;
    width: 160px;
}

.available_percent .percent {
    display: block;
}

.available_percent .total {
    background: #f2f2f2;
    border-radius: 4px;
    display: block;
    height: 6px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.available_percent .completed {
    background: #111;
    display: block;
    height: 6px;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* ========================================================================== */
/* quadrados para a sessao geral */
/* ========================================================================== */

.squares {
    background-color: #fff;
    display: block;
    margin: 60px -40px -40px -40px;
    min-height: 250px;
    position: relative;
    text-align: center;
    z-index: 99;
}

.squares .square {
    align-items: center;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    display: flex;
    height: 50%;
    position: absolute;
    top: 0;
    width: 50%;
}

.squares .square a {
    color: #111;
    font-size: 14px !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.squares .square:nth-child(1) {
    left: 0;
    top: 0;
}

.squares .square:nth-child(2) {
    background-color: #00000006;
    left: 50%;
    top: 0;
}

.squares .square:nth-child(3) {
    background-color: #00000006;
    left: 0;
    top: 50%;
}

.squares .square:nth-child(4) {
    left: 50%;
    top: 50%;
}

/* ========================================================================== */
/* sessoes */
/* ========================================================================== */

body:not(.editing) .course-content ul.mosaic li.section {
    margin: 0;
    padding: 40px !important;
    position: relative;
}

body:not(.editing) .course-content ul.mosaic li.section#section-0 {
    background-color: #111;
    color: #fefefe;
}

body:not(.editing)
    .course-content
    ul.mosaic
    li.section#section-0
    [data-for='cmlist'] {
    display: none !important;
}

body:not(.editing) .course-content ul.mosaic li.section ul.section {
    margin: 0 0 0 22px !important;
    padding: 0 !important;
}

body:not(.editing) .course-content .d-flex {
    padding: 0 !important;
}

body:not(.editing) .course-content .section .activity {
    padding: 0;
}

body:not(.editing) .course-content .module_badge {
    border: 1px solid #111;
    color: #111;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    margin: 26px 0 0 0;
    padding: 6px;
}

body:not(.editing) .course-content h3 {
    cursor: pointer;
    font-size: 20px !important;
    font-weight: bold !important;
    line-height: 20px !important;
    margin: 26px 0 0 0 !important;
    padding: 0 !important;
}

body:not(.editing) .course-content #section-0 h3 {
    font-size: 42px !important;
}

body:not(.editing) .course-content h4 {
    border-top: 1px solid #00000030;
    font-size: 14px !important;
    line-height: 30px !important;
    margin: 8px 0 0 0 !important;
    padding: 10px 0 0 0 !important;
}

body:not(.editing) .course-content .modtype_label:first-child h4 {
    border: 0;
    margin: 0 !important;
}

body:not(.editing) .course-content h5 {
    font-size: 13px !important;
    font-weight: bold;
    line-height: 13px !important;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
}

body:not(.editing) .course-content .activity-item.activityinline,
body:not(.editing) .course-content .activity-item:not(.activityinline) {
    border: 0 !important;
    font-size: 14px !important;
    margin: 16px 0 0 0 !important;
    padding: 0 !important;
}

body:not(.editing) .course-content div[data-for='sectioninfo'] {
    font-size: 14px;
    margin: 26px 0 0 0 !important;
    padding: 0 !important;
}

body:not(.editing) .course-content .force-display {
    display: block !important;
}

body:not(.editing) .course-content .available_date {
    align-items: center;
    display: table-cell;
    font-size: 12px;
    font-weight: bold;
    line-height: 24px;
}

body:not(.editing) .course-content .available_date .icon {
    margin: 0 0 0 5px;
}

body:not(.editing) .course-content .availabilityinfo.course-description-item {
    padding: 6px;
}

body:not(.editing) .course-content .activitytitle .activityname a {
    background-color: #111;
    color: #ffffff;
    font-size: 13px;
    margin: 6px 0 6px 26px;
    padding: 4px 6px;
}

body:not(.editing)
    .course-content
    .activitytitle.modtype_resource
    .activityname,
body:not(.editing) .course-content .activitytitle.modtype_page .activityname {
    background: none;
    margin: 0;
    padding: 0;
}

body:not(.editing)
    .course-content
    .activitytitle.modtype_resource
    .activityname
    a,
body:not(.editing) .course-content .activitytitle.modtype_page .activityname a {
    background: none;
    color: #111;
    font-weight: normal;
}

body:not(.editing)
    .description[data-for='sectioninfo']
    .course-description-item {
    background: none;
    font-size: 14px;
    margin: 0 !important;
    padding: 0 !important;
}

body:not(.editing)
    .description[data-for='sectioninfo']
    .course-description-item
    .description-inner {
    border: 0 !important;
}

/* ========================================================================== */
/* progresso das atividades */
/* ========================================================================== */

.progress_activity {
    display: block;
    float: right;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
}

.progress_activity div {
    display: inline-block;
}

.progress_activity .enter {
    color: #111;
}

.progress_activity .completed {
    color: #111;
}

.progress_activity .incomplete {
    color: #00000025;
}

.button_back_course {
    background: none;
    border: 0;
    font-size: 14px;
    line-height: 25px;
    position: absolute;
    right: 22px;
    top: 66px;
    z-index: 999;
}

.button_back_course span.material-symbols-outlined {
    float: left;
    font-size: 20;
    margin-right: 6px;
}

/* ========================================================================== */
/* botao entrar/sair da sessao */
/* ========================================================================== */

.button_enter_section {
    background-color: #111;
    border: 0;
    color: #fefefe;
    display: none;
    font-size: 13px;
    font-weight: bold;
    margin: 26px 0 0 0;
    padding: 6px 12px;
}

.button_back_section {
    background: none;
    border: 0;
    display: none;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 24px;
    top: 24px;
}

.button_back_section span {
    font-size: 28px;
}

/* ========================================================================== */
/* layout desktop */
/* ========================================================================== */

@media (min-width: 960px) {
    body:not(.editing) .course-content .course-description-item.summarytext {
        max-height: 128px;
        overflow: auto;
    }

    body:not(.editing)
        .course-content
        #section-0
        .course-description-item.summarytext {
        max-height: none;
    }

    body:not(.editing) .course-content ul.mosaic li.section {
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
        border: 1px solid #f8f8f8;
        display: block;
        height: 100%;
        left: 0;
        overflow: auto;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 99;
    }

    body:not(.editing) .course-content #section-0 {
        border-bottom: 0;
        border-left: 0;
        border-top: 0;
        padding: 80px 40px !important;
        width: 33.3%;
    }

    body:not(.editing) .course-content #section-1 {
        height: 50%;
        left: 33.3%;
        width: 33.3%;
    }

    body:not(.editing) .course-content #section-2 {
        height: 50%;
        left: 66.6%;
        width: 33.3%;
    }

    body:not(.editing) .course-content #section-3 {
        height: 50%;
        left: 33.3%;
        top: 50%;
        width: 33.3%;
    }

    body:not(.editing) .course-content #section-4 {
        height: 50%;
        left: 66.6%;
        top: 50%;
        width: 33.3%;
    }

    body:not(.editing) .course-content #section-5,
    body:not(.editing) .course-content #section-6,
    body:not(.editing) .course-content #section-7,
    body:not(.editing) .course-content #section-8 {
        display: none;
    }

    body:not(.editing) .course-content .section-open {
        background-color: #ffffff !important;
        height: 100% !important;
        left: 33.3% !important;
        overflow: auto !important;
        top: 0 !important;
        width: 66.6% !important;
        z-index: 999 !important;
    }

    body:not(.editing) .course-content .single-section .course-section {
        height: 100% !important;
        left: 33.3% !important;
        top: 0 !important;
        width: 67% !important;
    }

    body:not(.editing) .course-content .squares {
        background: none;
        bottom: 0;
        display: block;
        height: 50%;
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        z-index: 99;
    }

    body:not(.editing) .course-content .single-section {
        height: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 0;
        width: 100vw;
    }

    body:not(.editing) .course-content .single-section ul.mosaic {
        position: absolute;
        top: 0;
        width: calc(100% - 6px);
    }

    body:not(.editing) .course-content [data-for='cmlist'] {
        display: none !important;
    }

    body:not(.editing) .course-content .single-section [data-for='cmlist'],
    body:not(.editing) .course-content .section-open [data-for='cmlist'] {
        display: block !important;
    }

    .activity .available_percent {
        position: absolute !important;
        right: -17px !important;
        top: 10px !important;
    }

    .activity .available_percent {
        width: 65px;
    }

    /* ====================================================================== */
    /* botabotao entrar/sair da sessao
    /* ====================================================================== */

    .button_enter_section {
        display: block;
    }

    .section-open .button_back_section,
    .single-section .button_back_section {
        display: block;
    }

    .section-open .button_enter_section,
    .single-section .button_enter_section {
        display: none;
    }

    /* ====================================================================== */
    /* atividades retrateis */
    /* ====================================================================== */

    .activities_refactor {
        display: none;
    }

    .single-section .activities_refactor,
    .section-open .activities_refactor {
        display: block;
    }

    .activities_sub {
        display: none;
    }
}
