/* ========================================================================== */
/* remove elementos nao usados no mosaico */
/* ========================================================================== */

#page-course-view-mosaic #collapsesections,
#page-course-view-mosaic #maincontent,
#page-course-view-mosaic #page-footer,
#page-course-view-mosaic #page-header,
#page-course-view-mosaic .activityiconcontainer.courseicon,
#page-course-view-mosaic .course-section-header .icon,
#page-course-view-mosaic .drawer-toggles .drawer-left-toggle,
#page-course-view-mosaic .drawer.drawer-left,
#page-course-view-mosaic .icons-collapse-expand,
#page-course-view-mosaic .modal-backdrop.show,
#page-course-view-mosaic .secondary-navigation,
#page-course-view-mosaic .section-summary-activities,
#page-course-view-mosaic .section_availability,
#page-course-view-mosaic [data-region='completion-info'],
#page-course-view-mosaic
    .activity-item
    .activitytitle
    .media-body
    .text-uppercase.small {
    display: none !important;
}

/* ========================================================================== */
/* quadrados pequenos do mosaico */
/* ========================================================================== */

.squares {
    background-color: #fff;
    display: block;
    margin: 60px -40px -40px -40px;
    min-height: 250px;
    position: relative;
    text-align: center;
    z-index: 99;
}

.squares .square {
    align-items: center;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    display: flex;
    height: 50%;
    position: absolute;
    top: 0;
    width: 50%;
}

.squares .square a {
    color: #111;
    font-size: 14px !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.squares .square:nth-child(1) {
    background-color: #00000006;
    left: 0;
    top: 0;
}

.squares .square:nth-child(2) {
    left: 50%;
    top: 0;
}

.squares .square:nth-child(3) {
    left: 0;
    top: 50%;
}

.squares .square:nth-child(4) {
    background-color: #00000006;
    left: 50%;
    top: 50%;
}

.mosaic_start {
    margin-top: 36px;
}

.mosaic_start a {
    color: #fff !important;
    fill: #fff;
    font-size: 15px;
    font-weight: bold;
}

.mosaic_start focus:hover,
.mosaic_start active:hover {
    background: none !important;
}

.mosaic_start svg {
    fill: #fff;
    margin: 0 0 0 6px;
    width: 24px;
}

/* ========================================================================== */
/* formato de curso mosaico */
/* ========================================================================== */

#page-course-view-mosaic
    #page.drawers
    #topofscroll
    #page-content.main-inner
    #region-main {
    padding: 0 !important;
}

.course-content ul.mosaic {
    margin: 0 auto;
    min-height: calc(100vh - 46px);
    /* min-height: calc(100vh - 60px); */
    padding: 0;
    position: relative;
    width: 100vw;
    /* max-width: 1920px !important; */
}

.course-content .single-section {
    margin: 0;
}

#page-course-view-mosaic div[role='main'] {
    padding: 0 !important;
}

.content.course-content-item-content.collapse:not(.show) {
    display: block !important;
}

/* ========================================================================== */
/* contador de porcentagem */
/* ========================================================================== */

.available_percent {
    display: block;
    float: left;
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    width: 36%;
}

.available_percent .percent {
    display: block;
}

.available_percent .total {
    background: #f2f2f2;
    border-radius: 4px;
    display: block;
    height: 4px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.available_percent .completed {
    background: var(--course-color);
    border-radius: 0 4px 4px 0;
    display: block;
    height: 4px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.activity .available_percent {
    margin: -6px 0 0 0 !important;
    padding: 0 !important;
    position: absolute !important;
    right: 0 !important;
    top: 8px !important;
    width: 30px;
}

/* ========================================================================== */
/* cabeçalho do mosaico */
/* ========================================================================== */

.mosaic_header {
    display: block;
    height: 32px;
}

.section-open .mosaic_header {
    width: 100%;
}

/* data de abertura */

.mosaic_header .available_date {
    align-items: center;
    display: table-cell;
    float: right;
    font-size: 12px;
    font-weight: 400;
    height: 18px;
    line-height: 18px;
    margin: 10px;
}

.mosaic_header .available_date svg {
    float: right;
    margin: -1px 0 0 8px;
    width: 18px;
}

/* distintivo do modulo */

.module_badge {
    border: 1px solid #111;
    color: #111;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    margin: 30px 0 0 0;
    padding: 4px 6px;
}

/* ========================================================================== */
/* sessoes */
/* ========================================================================== */

.course-content ul.mosaic li.section {
    margin: 0;
    padding: 40px !important;
    position: relative;
}

#section-0 {
    background-color: var(--course-color);
    color: #fefefe;
    overflow: hidden;
}

#section-0 [data-for='cmlist'] {
    display: none !important;
}

.course-content ul.mosaic li.section ul.section {
    margin: 0 0 0 22px !important;
    padding: 0 !important;
}

.course-content .d-flex {
    padding: 0 !important;
}

.course-content .section .activity {
    padding: 0 0 0 4px;
    position: relative;
}

.course-content .section .activity.modtype_label {
    padding: 0;
}

.course-content h3 {
    cursor: pointer;
    font-size: 19px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    margin: 26px 0 0 0 !important;
    padding: 0 !important;
}

.course-content #section-0 h3 {
    font-size: 45px !important;
    font-weight: 700 !important;
    letter-spacing: -1.5px;
    line-height: 48px !important;
}

.course-content h4 {
    cursor: pointer;
    font-size: 14px !important;
    line-height: 30px !important;
    margin: 0 !important;
}

.course-content h4:hover {
    text-decoration: underline;
}

.course-content h4 .moisaic_subsection_open {
    float: left;
    width: 20px;
    margin: -1px 0 0 0;
}

.course-content h4 .moisaic_subsection_open svg {
    width: 14px;
    transform: rotate(-90deg);
}

.course-content h4.open .moisaic_subsection_open svg {
    transform: rotate(0deg);
}

.course-content .modtype_label:first-child h4 {
    border: 0;
    margin: 0 !important;
}

.course-content h5 {
    font-size: 13px !important;
    font-weight: bold;
    line-height: 13px !important;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
}

.course-content .activity-item.activityinline,
.course-content .activity-item:not(.activityinline) {
    border: 0 !important;
    font-size: 14px !important;
    margin: 11px 0 0 0 !important;
    padding: 0 !important;
}

.course-content .activity-item.activityinline a,
.course-content .activity-item:not(.activityinline) a {
    font-weight: normal !important;
}

.course-content div[data-for='sectioninfo'] {
    font-size: 14px;
    margin: 24px 0 0 0 !important;
    padding: 0 !important;
}

.course-content .force-display {
    display: block !important;
}

.course-content .availabilityinfo.course-description-item {
    padding: 6px;
}

.course-content .activity-instance {
    width: 90% !important;
}

.course-content .activitytitle .activityname a {
    color: #111;
    font-size: 14px;
    margin: 6px 0 6px 0;
    padding: 4px 0;
}

.course-content .activitytitle .activityname a:hover {
    font-weight: bold !important;
}

.description[data-for='sectioninfo'] .course-description-item {
    background: none;
    font-size: 14px;
    margin: 0 !important;
    padding: 0 !important;
}

.description[data-for='sectioninfo']
    .course-description-item
    .description-inner {
    border: 0 !important;
}

.moisaic_activity_enter {
    cursor: pointer;
    fill: var(--course-color);
    float: right !important;
    height: 24px !important;
    padding: 0 !important;
    position: absolute !important;
    right: 4px;
    top: -2px;
    width: 24px !important;
}

.moisaic_activity_enter svg {
    width: 24px;
}

.activities_sub {
    margin: 20px 0 50px 0;
}

/* ========================================================================== */
/* progresso das atividades */
/* ========================================================================== */

.progress_activity {
    fill: var(--course-color);
    float: left;
    height: 22px;
    width: 22px;
    margin-top: 3px;
}

.progress_activity svg {
    width: 15px;
    display: block;
}

.progress_activity.wait {
    fill: #00000010;
}

/* ========================================================================== */
/* icone */
/* ========================================================================== */

.mosaic_icon {
    background-size: 100% 100%;
    float: left;
    height: 22px;
    margin: 0 4px 0 8px;
    width: 22px;
}

/* ========================================================================== */
/* botao entrar/sair da sessao */
/* ========================================================================== */

.button_enter_section {
    background-color: var(--course-color);
    border: 0;
    color: #fefefe;
    display: none;
    font-size: 14px;
    font-weight: bold;
    margin: 42px 0 0 0;
    padding: 6px 26px;
}

.button_enter_section:hover {
    opacity: 0.8;
}

.button_back_section {
    background: none;
    border: 0;
    display: none;
    height: 28px;
    line-height: 1;
    padding: 0;
    width: 28px;
    float: right;
    margin: 4px 0 0 10px;
}

.button_back_section span {
    font-size: 28px;
}

/* ========================================================================== */
/* layout desktop */
/* ========================================================================== */

@media (min-width: 960px) {
    .course-content .course-description-item.summarytext {
        overflow: auto;
        line-height: 25px;
    }

    .course-content .course-description-item.summarytext p {
        margin: 0;
    }

    #section-0 .course-description-item.summarytext {
        max-height: none;
    }

    .course-content ul.mosaic li.section {
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
        background: #fff;
        border: 1px solid #f8f8f8;
        display: block;
        height: 50.1%;
        left: 0;
        overflow: auto;
        padding: 2.3% 5.8% !important;
        position: absolute;
        top: 0;
        transition: width 0.4s, height 0.4s;
        width: 33.34%;
        z-index: 99;
    }

    #section-0 {
        border-bottom: 0;
        border-left: 0;
        border-top: 0;
        height: 100%;
        padding: 80px 6% 0 6% !important;
    }

    #section-1 {
        bottom: auto;
        left: 33.333%;
        right: auto;
        top: 0;
    }

    #section-2 {
        bottom: auto;
        left: auto;
        right: 0;
        top: 0;
    }

    #section-3 {
        bottom: 0;
        left: 33.333%;
        right: auto;
        top: auto;
    }

    #section-4 {
        bottom: 0;
        left: auto;
        right: 0;
        top: auto;
    }

    #section-5,
    #section-6,
    #section-7,
    #section-8,
    #section-9,
    #section-10,
    #section-11,
    #section-12,
    #section-13,
    #section-14,
    #section-15,
    #section-16,
    #section-17,
    #section-18,
    #section-19,
    #section-20 {
        display: none;
    }

    .course-content ul.mosaic li.section.section-open {
        background-color: #ffffff !important;
        box-shadow: 0 0 15px 0px #00000020;
        height: 100% !important;
        overflow: auto !important;
        width: 66.666% !important;
        padding: 6% 11% !important;
    }

    .course-content ul.mosaic li.section.section-open .module_badge {
        font-size: 17px;
        margin-top: 6% !important;
        color: #555;
        border: 0;
        padding: 0;
    }

    .course-content ul.mosaic li.section.section-open h3 {
        font-size: 24px !important;
        line-height: 34px !important;
        font-weight: 800 !important;
        margin-top: 23px !important;
    }

    .course-content
        ul.mosaic
        li.section.section-open
        div[data-for='sectioninfo'] {
        margin: 48px 0 38px 0 !important;
    }

    .course-content ul.mosaic li.section.section-open .activities_refactor {
        margin: 4% 0 0 8%;
    }

    .course-content .single-section .course-section {
        height: 100% !important;
        left: 33.333% !important;
        width: 67% !important;
    }

    .course-content .squares {
        bottom: 0;
        display: block;
        height: calc(50% + 1px);
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        z-index: 99;
    }

    .mosaic_start {
        position: absolute;
        left: 4vw;
        bottom: calc(50% + 50px);
    }

    .course-content .single-section {
        height: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 0;
        width: 100vw;
    }

    .course-content .single-section ul.mosaic {
        position: absolute;
        top: 0;
        width: calc(100% - 6px);
    }

    .course-content [data-for='cmlist'] {
        display: none !important;
    }

    .course-content .single-section [data-for='cmlist'],
    .course-content .section-open [data-for='cmlist'] {
        display: block !important;
    }

    /* ====================================================================== */
    /* botabotao entrar/sair da sessao
    /* ====================================================================== */

    .button_enter_section {
        display: block;
    }

    .section-open .button_back_section,
    .single-section .button_back_section {
        display: block;
    }

    .section-open .button_enter_section,
    .single-section .button_enter_section {
        display: none;
    }

    /* ====================================================================== */
    /* atividades retrateis */
    /* ====================================================================== */

    .activities_refactor {
        display: none;
    }

    .single-section .activities_refactor,
    .section-open .activities_refactor {
        display: block;
    }

    .activities_sub {
        display: none;
    }

    #page-course-view-mosaic #page-content {
        padding: 0 !important;
    }
}
