/* ========================================================================== */
/* remove elementos nao usados no mosaico */
/* ========================================================================== */

#page-course-view-mosaic:not(.editing) #collapsesections,
#page-course-view-mosaic:not(.editing) #page-footer,
#page-course-view-mosaic:not(.editing) #maincontent,
#page-course-view-mosaic:not(.editing) #page-header,
#page-course-view-mosaic:not(.editing) .drawer.drawer-left,
#page-course-view-mosaic:not(.editing) .course-section-header .icon,
#page-course-view-mosaic:not(.editing) .drawer-toggles .drawer-left-toggle,
#page-course-view-mosaic:not(.editing) .icons-collapse-expand,
#page-course-view-mosaic:not(.editing) .section-summary-activities,
#page-course-view-mosaic:not(.editing) .modal-backdrop.show,
#page-course-view-mosaic:not(.editing) .secondary-navigation,
#page-course-view-mosaic:not(.editing) .section_availability,
#page-course-view-mosaic:not(.editing) .activityiconcontainer.courseicon,
#page-course-view-mosaic:not(.editing) [data-region='completion-info'],
#page-course-view-mosaic:not(.editing)
    .activity-item
    .activitytitle
    .media-body
    .text-uppercase.small {
    display: none !important;
}

/* ========================================================================== */
/* esconde pagina inteira até terminar o carregamento */
/* ========================================================================== */

#page-course-view-mosaic:not(.editing) #page-content {
    display: none;
}

/* ========================================================================== */
/* quadrados pequenos do mosaico */
/* ========================================================================== */

.squares {
    background-color: #fff;
    display: block;
    margin: 60px -40px -40px -40px;
    min-height: 250px;
    position: relative;
    text-align: center;
    z-index: 99;
}

.squares .square {
    align-items: center;
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    display: flex;
    height: 50%;
    position: absolute;
    top: 0;
    width: 50%;
}

.squares .square a {
    color: #111;
    font-size: 14px !important;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.squares .square:nth-child(1) {
    background-color: #00000006;
    left: 0;
    top: 0;
}

.squares .square:nth-child(2) {
    left: 50%;
    top: 0;
}

.squares .square:nth-child(3) {
    left: 0;
    top: 50%;
}

.squares .square:nth-child(4) {
    background-color: #00000006;
    left: 50%;
    top: 50%;
}

.mosaic_start {
    margin-top: 36px;
}

.mosaic_start a {
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

/* ========================================================================== */
/* formato de curso mosaico */
/* ========================================================================== */

#page-course-view-mosaic:not(.editing)
    #page.drawers
    #topofscroll
    #page-content.main-inner
    #region-main {
    padding: 0 !important;
}

.course-content ul.mosaic {
    margin: 0;
    min-height: calc(100vh - 46px);
    padding: 0;
    position: relative;
    width: 100vw;
}

.course-content .single-section {
    margin: 0;
}

/* ========================================================================== */
/* cabeçalho do mosaico */
/* ========================================================================== */

.mosaic_header {
    display: block;
    height: 25px;
}

.section-open .mosaic_header {
    width: calc(100% - 10px);
}

/* contador de porcentagem */

.mosaic_header .available_percent {
    display: block;
    font-size: 12px;
    font-weight: 800;
    float: left;
    width: 36%;
}

.mosaic_header .available_percent .percent {
    display: block;
}

.mosaic_header .available_percent .total {
    background: #f2f2f2;
    border-radius: 4px;
    display: block;
    height: 5px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}

.mosaic_header .available_percent .completed {
    background: #111;
    display: block;
    height: 5px;
    border-radius: 0 4px 4px 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* data de abertura */

.mosaic_header .available_date {
    align-items: center;
    height: 18px;
    display: table-cell;
    font-size: 12px;
    margin-top: 10px;
    float: right;
    font-weight: 400;
    line-height: 18px;
}

.mosaic_header .available_date .icon {
    margin: 0 0 0 5px;
    float: right;
}

/* distintivo do modulo */

.module_badge {
    border: 1px solid #111;
    color: #111;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    margin: 30px 0 0 0;
    padding: 4px 6px;
}

/* ========================================================================== */
/* sessoes */
/* ========================================================================== */

.course-content ul.mosaic li.section {
    margin: 0;
    padding: 40px !important;
    position: relative;
}

#section-0 {
    background-color: #111;
    color: #fefefe;
}

#section-0 [data-for='cmlist'] {
    display: none !important;
}

.course-content ul.mosaic li.section ul.section {
    margin: 0 0 0 22px !important;
    padding: 0 !important;
}

.course-content .d-flex {
    padding: 0 !important;
}

.course-content .section .activity {
    padding: 0;
}

.course-content h3 {
    cursor: pointer;
    font-size: 19px !important;
    font-weight: 500 !important;
    line-height: 20px !important;
    margin: 16px 0 0 0 !important;
    padding: 0 !important;
}

.course-content #section-0 h3 {
    font-size: 42px !important;
    line-height: 48px !important;
    font-weight: 900 !important;
    letter-spacing: -1.5px;
}

.course-content h4 {
    border-top: 1px solid #00000030;
    font-size: 14px !important;
    line-height: 30px !important;
    margin: 8px 0 0 0 !important;
    padding: 10px 0 0 0 !important;
}

.course-content .modtype_label:first-child h4 {
    border: 0;
    margin: 0 !important;
}

.course-content h5 {
    font-size: 13px !important;
    font-weight: bold;
    line-height: 13px !important;
    margin: 0 !important;
    overflow: hidden;
    padding: 0 !important;
}

.course-content .activity-item.activityinline,
.course-content .activity-item:not(.activityinline) {
    border: 0 !important;
    font-size: 14px !important;
    margin: 16px 0 0 0 !important;
    padding: 0 !important;
}

.course-content div[data-for='sectioninfo'] {
    font-size: 14px;
    margin: 16px 0 0 0 !important;
    padding: 0 !important;
}

.course-content .force-display {
    display: block !important;
}

.course-content .availabilityinfo.course-description-item {
    padding: 6px;
}

.course-content .activitytitle .activityname a {
    /*
    background-color: #111;
    color: #ffffff;
    */
    color: #111;
    font-size: 13px;
    margin: 6px 0 6px 55px;
    padding: 4px 6px;
}

.course-content .activitytitle.modtype_resource .activityname,
.course-content .activitytitle.modtype_page .activityname {
    background: none;
    margin: 0;
    padding: 0;
}

.course-content .activitytitle.modtype_resource .activityname a,
.course-content .activitytitle.modtype_page .activityname a {
    background: none;
    color: #111;
    margin: 6px 0 6px 26px;
    font-weight: normal;
}

.description[data-for='sectioninfo'] .course-description-item {
    background: none;
    font-size: 14px;
    margin: 0 !important;
    padding: 0 !important;
}

.description[data-for='sectioninfo']
    .course-description-item
    .description-inner {
    border: 0 !important;
}

/* ========================================================================== */
/* progresso das atividades */
/* ========================================================================== */

.progress_activity {
    display: block;
    float: right;
    left: 0;
    margin: 0;
    position: absolute;
    top: 0;
}

.progress_activity div {
    display: inline-block;
}

.progress_activity .enter {
    color: #111;
}

.progress_activity .completed {
    color: #111;
}

.progress_activity .incomplete {
    color: #00000025;
}

/* ========================================================================== */
/* botao entrar/sair da sessao */
/* ========================================================================== */

.button_enter_section {
    background-color: #111;
    border: 0;
    color: #fefefe;
    display: none;
    font-size: 14px;
    font-weight: bold;
    margin: 36px 0 0 0;
    padding: 6px 22px;
}

.button_enter_section:hover {
    opacity: 0.8;
}

.button_back_section {
    background: none;
    border: 0;
    display: none;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 24px;
    top: 24px;
}

.button_back_section span {
    font-size: 28px;
}

/* ========================================================================== */
/* layout desktop */
/* ========================================================================== */

@media (min-width: 960px) {
    .course-content .course-description-item.summarytext {
        max-height: 86px;
        overflow: auto;
    }

    #section-0 .course-description-item.summarytext {
        max-height: none;
    }

    .course-content ul.mosaic li.section {
        background-repeat: no-repeat !important;
        background-size: 100% 100% !important;
        border: 1px solid #f8f8f8;
        background: #fff;
        display: block;
        height: 50%;
        left: 0;
        padding: 4% !important;
        overflow: auto;
        position: absolute;
        top: 0;
        width: 33.333%;
        z-index: 99;
        transition: width 0.4s, height 0.4s;
    }

    #section-0 {
        border-bottom: 0;
        border-left: 0;
        border-top: 0;
        height: 100%;
        padding: 5% 4% 0 4% !important;
    }

    #section-1 {
        bottom: auto;
        left: 33.333%;
        right: auto;
        top: 0;
    }

    #section-2 {
        bottom: auto;
        left: auto;
        right: 0;
        top: 0;
    }

    #section-3 {
        bottom: 0;
        left: 33.333%;
        right: auto;
        top: auto;
    }

    #section-4 {
        bottom: 0;
        left: auto;
        right: 0;
        top: auto;
    }

    #section-5,
    #section-6,
    #section-7,
    #section-8,
    #section-9,
    #section-10,
    #section-11,
    #section-12,
    #section-13,
    #section-14,
    #section-15,
    #section-16,
    #section-17,
    #section-18,
    #section-19,
    #section-20 {
        display: none;
    }

    .course-content .section-open {
        background-color: #ffffff !important;
        box-shadow: 0 0 15px 0px #00000020;
        height: 100% !important;
        overflow: auto !important;
        width: 66.666% !important;
    }

    .course-content .single-section .course-section {
        height: 100% !important;
        left: 33.333% !important;
        width: 67% !important;
    }

    .course-content .squares {
        bottom: 0;
        display: block;
        height: calc(50% + 1px);
        left: 0;
        margin: 0;
        padding: 0;
        position: absolute;
        width: 100%;
        z-index: 99;
    }

    .mosaic_start {
        position: absolute;
        left: 4vw;
        top: calc(50% - 130px);
    }

    .course-content .single-section {
        height: 100%;
        margin: 0;
        overflow: hidden;
        padding: 0;
        position: absolute;
        top: 0;
        width: 100vw;
    }

    .course-content .single-section ul.mosaic {
        position: absolute;
        top: 0;
        width: calc(100% - 6px);
    }

    .course-content [data-for='cmlist'] {
        display: none !important;
    }

    .course-content .single-section [data-for='cmlist'],
    .course-content .section-open [data-for='cmlist'] {
        display: block !important;
    }

    .activity .available_percent {
        position: absolute !important;
        right: -17px !important;
        top: 10px !important;
    }

    .activity .available_percent {
        width: 65px;
    }

    /* ====================================================================== */
    /* botabotao entrar/sair da sessao
    /* ====================================================================== */

    .button_enter_section {
        display: block;
    }

    .section-open .button_back_section,
    .single-section .button_back_section {
        display: block;
    }

    .section-open .button_enter_section,
    .single-section .button_enter_section {
        display: none;
    }

    /* ====================================================================== */
    /* atividades retrateis */
    /* ====================================================================== */

    .activities_refactor {
        display: none;
    }

    .single-section .activities_refactor,
    .section-open .activities_refactor {
        display: block;
    }

    .activities_sub {
        display: none;
    }
}
