/* ========================================================================== */
/* barra de rolagem */
/* ========================================================================== */

* ::-webkit-scrollbar {
    width: 6px !important;
}

* ::-webkit-scrollbar-track {
    background: #00000008 !important;
    border-radius: 0 !important;
}

* ::-webkit-scrollbar-thumb {
    background-color: #00000020 !important;
    border-radius: 0 !important;
}

/* ========================================================================== */
/* cor do curso */
/* ========================================================================== */

#page a {
    color: #111 !important;
    font-weight: 600;
}

.moremenu .nav-link.active {
    border-bottom-color: var(--course-color) !important;
}

.btn-link {
    color: var(--course-color) !important;
}

.custom-control-input:checked ~ .custom-control-label::before {
    background: var(--course-color) !important;
    border: 0 !important;
}

/* ========================================================================== */
/* remove outline */
/* ========================================================================== */

.aabtn.focus,
.aabtn:focus,
.btn-link.focus,
.btn-link:focus,
.nav-link.focus,
.nav-link:focus,
.editor_atto_toolbar button.focus,
.editor_atto_toolbar button:focus,
.editor_atto_toolbar .atto_toolbar_row.focus,
.editor_atto_toolbar .atto_toolbar_row:focus,
[role='button'].focus,
[role='button']:focus,
.list-group-item-action.focus,
.list-group-item-action:focus,
input[type='checkbox'].focus,
input[type='checkbox']:focus,
input[type='radio'].focus,
input[type='radio']:focus,
input[type='file'].focus,
input[type='file']:focus,
input[type='image'].focus,
input[type='image']:focus,
.sr-only-focusable.focus,
.sr-only-focusable:focus,
a.dropdown-toggle.focus,
a.dropdown-toggle:focus,
.modal-dialog[tabindex='0'].focus,
.modal-dialog[tabindex='0']:focus,
.moodle-dialogue-base .closebutton.focus,
.moodle-dialogue-base .closebutton:focus,
button.close.focus,
button.close:focus,
.form-autocomplete-selection.focus,
.form-autocomplete-selection:focus,
[role='treeitem']:not([aria-expanded='true']).focus,
[role='treeitem']:not([aria-expanded='true']):focus {
    outline: 0 !important;
    box-shadow: none !important;
}

/* ========================================================================== */
/* botao voltar para pagina inicial */
/* ========================================================================== */

.button_back_course {
    background: none;
    border: 0;
    font-size: 15px;
    line-height: 25px;
    position: absolute;
    right: 22px;
    top: 75px;
    z-index: 999;
}

.button_back_course svg {
    float: left;
    width: 24px;
    margin-right: 6px;
}

/* ========================================================================== */
/* largura 100% */
/* ========================================================================== */

#page,
.main-inner,
#page-header,
.show-drawer-left {
    max-width: none !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 0 !important;
    overflow-x: hidden !important;
}

#page {
    height: calc(100vh - 60px);
    margin-top: 60px !important;
}

#page-header {
    padding: 10px 20px 0 20px !important;
}

.drawer-left,
.drawer-toggles,
.modal-backdrop,
.page-header-image,
.btn-footer-popover {
    display: none !important;
}

.secondary-navigation .navigation .nav-tabs {
    max-width: none !important;
}

/* ========================================================================== */
/* botoes */
/* ========================================================================== */

.btn {
    border-radius: 0 !important;
}

#page a.btn-primary {
    background: var(--course-color) !important;
    border: 0 !important;
    color: #fff !important;
}

/* ========================================================================== */
/* pagina e arquivo */
/* ========================================================================== */

#page-mod-resource-view .resourcecontent,
#page-mod-page-view div[role='main'] {
    background-color: #fff !important;
    height: calc(100vh - 60px) !important;
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
    width: 100vw !important;
}

#page-mod-page-view div[role='main'] .modified {
    display: none !important;
}
