/* ========================================================================== */
/* barra de rolagem */
/* ========================================================================== */

* ::-webkit-scrollbar {
    width: 6px;
}

* ::-webkit-scrollbar-track {
    background: #00000008;
    border-radius: 0;
}

* ::-webkit-scrollbar-thumb {
    background-color: #00000020;
    border-radius: 0;
}

/* ========================================================================== */
/* tema com largura 100% geral */
/* ========================================================================== */

#page.drawers,
#page.drawers.show-drawer-left {
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden;
}

#page.drawers #topofscroll #page-content.main-inner {
    overflow-x: hidden;
}

#page.drawers #topofscroll #page-content.main-inner #region-main {
    border-radius: 0 !important;
    margin: 0 !important;
    max-width: none !important;
    overflow: hidden !important;
    padding: 26px !important;
    width: 100vw !important;
}

.page-header-image,
#page-footer,
.drawer-toggles .drawer-left-toggle {
    display: none;
}

/* ========================================================================== */
/* modulo de pagina */
/* ========================================================================== */

#page-mod-page-view #page-header,
#page-mod-page-view #page-footer,
#page-mod-page-view .secondary-navigation,
#page-mod-page-view .activity-header,
#page-mod-page-view .modified,
#page-mod-resource-view #page-header,
#page-mod-resource-view #page-footer,
#page-mod-resource-view .secondary-navigation,
#page-mod-resource-view .activity-header,
#page-mod-resource-view .modified {
    display: none;
}

#page-mod-page-view
    #page.drawers
    #topofscroll
    #page-content.main-inner
    #region-main,
#page-mod-resource-view
    #page.drawers
    #topofscroll
    #page-content.main-inner
    #region-main {
    padding: 0 !important;
    overflow-x: hidden;
}

#page-mod-page-view .generalbox,
#page-mod-resource-view .generalbox {
    margin: 0 !important;
    min-height: calc(100vh - 48px);
    padding: 0 !important;
}

.button_back_course {
    background: none;
    border: 0;
    font-size: 14px;
    line-height: 25px;
    position: absolute;
    right: 22px;
    top: 66px;
    z-index: 999;
}

.button_back_course span.material-symbols-outlined {
    float: left;
    font-size: 20;
    margin-right: 6px;
}

.pagelayout-standard #page.drawers .main-inner,
body.limitedwidth #page.drawers .main-inner {
    max-width: none !important;
}

#page.drawers div[role='main'],
#page.drawers .main-inner {
    padding: 0 !important;
    margin: 0 !important;
}
